.carDetails {
  display: flex;
  gap: 72px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carImage {
  border-radius: 19px;
  width: 640px;
  height: 512px;
  margin-top: 84px;
}
