.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 84px;
}
.formGroup {
  display: flex;
  flex-direction: column;
}
.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-gray);
  margin-bottom: 8px;
}
.select {
  padding: 12px 16px;
  height: 44px;
  border-radius: 12px;
  background-color: #f7f7f7;
  border: none;
}
.selectWrapper {
  display: flex;
}
.inputContainer {
  position: relative;
}
.inputLabel {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-weight: 500;
  color: var(--color-main);
  pointer-events: none;
}
.selectFrom {
  border-right: 1px solid var(--color-gray-light);
  border-radius: 12px 0 0 12px;
  width: 160px;
  padding-left: 52px;
}
.selectTo {
  border-radius: 0 12px 12px 0;
  width: 160px;
  padding-left: 32px;
}
.select:focus + .inputLabel,
.select:not(:placeholder-shown) + .inputLabel {
  font-size: 10px;
  top: -5px;
}
.searchBtn {
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  background-color: var(--color-button);
  font-weight: 600;
  color: var(--color-white);
  align-self: flex-end;
  transition: background-color var(--transition);
}
.searchBtn:hover {
  background-color: var(--color-button-hover);
}
.customSelect {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.selectedOption {
  padding: 12px 16px;
  width: 196px;
  height: 44px;
  border-radius: 12px;
  background-color: var(--color-inputs);
  outline: none;
  display: flex;
  align-items: center;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 12px;
  border: 1px solid var(--color-inputs);
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  z-index: 10;
  max-height: 272px;
  overflow-y: auto;
}
.option {
  padding: 8px 16px;
  cursor: pointer;
  color: var(--color-gray);
}
.option:hover {
  color: var(--color-main);
}
.icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconChevron {
  width: 16px;
  height: 16px;
  fill: var(--color-main);
}
