.formSection {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  margin-top: 40px;
  margin-bottom: 104px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 8px;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  border-radius: 12px;
  padding: 12px 20px;
  background-color: #f7f7f7;
  border: 1px solid transparent;
  width: 100%;
}

.field::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.lastField {
  margin-bottom: 8px;
  outline: none;
  min-height: 88px;
}

.errorMessage {
  color: #ef5050;
  font-size: 14px;
  margin-top: 5px;
}

.fieldError {
  border-color: #ef5050;
  color: #ef5050;
}

.formBtn {
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  background-color: #3470ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.formBtn:hover {
  background-color: #0b44cd;
}
