.carImageContainer {
  position: relative;
  width: 276px;
  height: 268px;
  border-radius: 14px;
  overflow: hidden;
}
.carImage {
  border-radius: 14px;
  width: 276px;
  height: 268px;
}
.heartIcon {
  position: absolute;
  top: 16px;
  right: 16px;
}
.info {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-weight: 500;
  color: var(--color-main);
}
.model {
  color: var(--color-button);
}
.price {
  margin-right: 12px;
}
.location {
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-gray);
  margin-top: 8px;
}
.details {
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-gray);
}
.link {
  display: block;
  text-align: center;
  margin-top: 28px;
  background-color: var(--color-button);
  color: var(--color-white);
  border-radius: 12px;
  padding: 12px 99px;
  font-weight: 600;
  transition: background-color var(--transition);
}
.link:hover {
  background-color: var(--color-button-hover);
}
