.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f2f4f7;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  color: #0b44cd;
}

.message {
  font-size: 1.5rem;
  margin: 16px 0;
  color: #666;
}

.link {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 24px;
  color: #0b44cd;
  text-decoration: underline;
  font-size: 1.25rem;
  font-weight: bold;
}

.link:hover {
  color: #3470ff;
}
