.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: var(--color-badges);
}
.title {
  font-size: 3rem;
  margin: 0;
  color: var(--color-button-hover);
}
.message {
  font-size: 1.5rem;
  margin: 16px 0;
  color: var(--color-gray);
}
.link {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 24px;
  color: var(--color-button-hover);
  text-decoration: underline;
  font-size: 1.25rem;
  font-weight: 700;
}
.link:hover {
  color: var(--color-button);
}
