.loadMoreBtn {
  border: 1px solid #3470ff;
  border-radius: 12px;
  padding: 12px 51px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
  margin-bottom: 124px;
  background-color: transparent;
}
